<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mailbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC64B2F71DC19066009F67B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC64B30B1DC19066009F67B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC64B3161DC19066009F67B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
