<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dropbox project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC319C9E1DB140FF0028D354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC319CB21DB140FF0028D354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC319CBD1DB140FF0028D354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
